# ファイルを特定の言語として扱う
*.tsx linguist-language=TypeScript
*.ts linguist-language=TypeScript
*.js linguist-language=JavaScript

# 特定のファイルを統計から除外する
public/* linguist-vendored=true

# ドキュメントファイルとして扱う
*.md linguist-documentation=true
*.json linguist-documentation=true

# 特定のファイルを明示的に検出対象外にする
app.py linguist-detectable=false